.about-content {
  height: 75vh;
  max-width: 100%;
  padding-bottom: 20px;
  /* background-color: rgb(132, 196, 219); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #f5f2f6, #f1f0f8, #ebeff9, #e3eefa, #d9eef9);
}

.picture {
  height: 18rem;
  
}
h6 {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(23, 5, 127);
    transition: opacity ease-in-out 2s;
    opacity: 1;
  }
  h1 {
    font-weight: bolder;
    font-style: normal;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black; */
  }
  h2 {
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(171, 20, 20);
  }
/* .about-top{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 50px;
  }
  
  
  .about-info {
      font-size: 30px;
  }
  
  
  @media only screen and (max-width: 720px) {
      .about-top{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .picture {
          height: 280px;
      }
      .about-info {
          font-size: 20px;
      }
      .info-name {
          font-size: 26px;
      }
  } */
