.bg-myColor{
    background: linear-gradient(to bottom, #006699 0%, #33cccc 100%);
}
.logo{
    width: 5.5rem;
    height: 4rem;
    border-radius: 25%;
}
.menu{
    text-decoration: none;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    gap: 20px;
   
}


