.nav__content {
    height: 100%;
    -ms-grid-rows: max-content 1fr max-content;
        grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
        grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
  }
  
  .nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: .25rem;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .nav__img img {
    width: 46px;
  }
  
  .nav__name {
    display: block;
    color: var(--white-color);
  }
  
  .nav__profesion {
    font-size: var(--small-font-size);
  }
  
  .nav__menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  .nav__item {
    margin: 2.5rem 0;
  }
  
  .nav__link {
    color: var(--white-color);
  }
  
  .nav__social {
    padding-top: .5rem;
  }
  
  .nav__social-icon {
    font-size: 1.2rem;
    color: var(--white-color);
    margin-right: 1rem;
  }
  
  .nav__social-icon:hover {
    color: var(--first-color);
  }